body {
    background-color: black;
    color: white;
    font-family: 'playfair Display', serif;
    text-align: center;
    font-size: 20px;
}


p{
    color:red;
    font-size: 14px;
}

#missao {
    color: yellow;
    font-size: 16px
}
#banner {
    width: 100%;
}

#conteudo {
    display: flex;
    padding: 10px;
} 
#beneficio {
    width:40%
}